.callout_definition{
    margin:16px 0;
    font-size:inherit;padding:0 15px;
    color:#333333;
    background-color:#cbefe4;
    border-left:4px solid #028760;
    padding: 1px 15px 20px 30px;
  }

.callout_definition h3{
    color:#028760;
    margin-top: 20px;
  }

  .callout_definition h5{
    color:#028760;
    margin-top: 20px;
  }